/*********************** Global ***********************/
html, body{
    min-width: 320px;
    min-height: 100%
}

body {
    color: #2f3441;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    color: #5f54ba;
}

a:hover {
    color: #4d43a5;
}

strong {
    font-weight: 800;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-styled.swal2-confirm,.btn-primary {
    color: #fff;
    background-color: #5f54ba;
    border-color: #5f54ba;
}

.swal2-styled.swal2-confirm,.btn-primary:hover {
    color: #fff;
    background-color: #4d43a5;
    border-color: #493f9c;
}

a:not([href]):not([tabindex]).btn-primary {
    color: #fff;
}



/*********************** Layout ***********************/
.top-background-split {
    background: linear-gradient(to right bottom, #2f3441 50%, #fff 50%);
    width: 100%;
    z-index: -1;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
}

main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.top-header {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50px;
}

.logo-text {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.logo-text:hover {
    text-decoration: none;
    color: #fff;
}



/*********************** Cart Dropdown ***********************/
.cart-dropdown {
    position: relative;
    height: 47px;
}

.cart-dropdown__button {
    color: #2f3441;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    border-radius: 50px;
    transition: font-size .3s;
}

.cart-dropdown__button:hover {
    font-size: 20px;
    text-decoration: none;
    color: #2f3441;
}

/* Medium > Tablet */
@media (min-width: 500px) {
    .cart-dropdown {
        height: 88px;
    }
    .cart-dropdown__button {
        font-size: 32px;
        width: 165px;
        padding: 20px;
    }
    .cart-dropdown__button:hover {
        font-size: 34px;
    }
}



/*********************** Products ***********************/
.products-title {
    font-size: 38px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}

/* Medium > Tablet */
@media (min-width: 768px) {
    .products-title {
        font-size: 76px;
    }
}

.product{
    width:  100%
}

/* Medium > Tablet */
@media (min-width: 500px) {
    .product {
        max-width: 45%;
    }
}

/* Medium > Tablet */
@media (min-width: 768px) {
    .product {
        max-width: 30%;
    }
}

.product .card-img-top {
    height: 155px;
    background-size: cover;
}

/* Medium > Tablet */
@media (min-width: 768px) {
    .product .card-img-top {
        height: 200px;
    }
}

.product-1 .card-img-top {
    background-image: url('https://images.pexels.com/photos/355241/pexels-photo-355241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.product-2 .card-img-top {
    background-image: url('https://images.pexels.com/photos/462149/pexels-photo-462149.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.product-3 .card-img-top {
    background-image: url('https://images.pexels.com/photos/753325/pexels-photo-753325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.product-name {
    font-size: 18px;
}

.product-description {
    font-size: 14px;
}

.product-image {
    max-width: 80%;
    max-height: 100px;
    display: inline-block;
}

.product-price {
    color: orangered;
}

.product-availability {
    color: darkseagreen;
}



/*********************** Recapitulation ***********************/
.recapitulation-list__item-info {
    min-width: 230px;
    justify-content: space-between;
    display: flex;
}

.recapitulation-list__summary-info {
    min-width: 140px;
    max-width: 200px;
    display: inline-flex;
    justify-content: space-between;
}



/*********************** Cart item quantity form ***********************/
.cart-item-quantity-form {
    margin-right: 20px;
}
.cart-item-quantity-form__fields {
    display: inline-flex;
}

.cart-item-quantity-button {
    width: 32px;
    line-height: 32px;
    background:#f2f2f2;
    font-weight: bold;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
}

.cart-item-quantity-button--plus {
    border-radius: 0 4px 4px 0;
}

.cart-item-quantity-button--minus {
    border-radius: 4px 0 0 4px;
}

.cart-item-quantity-input {
    height:34px;
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    display: inline-block;
    vertical-align: middle;
}
