/*********************** Global ***********************/
html, body{
    min-width: 320px;
    min-height: 100%
}

body {
    color: #2f3441;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}

a {
    color: #5f54ba;
}

a:hover {
    color: #4d43a5;
}

strong {
    font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a:not([href]):not([tabindex]).btn-primary {
    color: #fff;
}

/*********************** Apicart components ***********/
a.apicart-button--solid,
a.apicart-button--solid:hover {
    color: #fff
}

main {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.top-header {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50px;
}

.logo-text {
    font-size: 24px;
    color: #2f3441;
    text-decoration: none;
}

.logo-text:hover {
    text-decoration: none;
}


/*********************** Products ***********************/
.products-title {
    font-size: 38px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}

/* Medium > Tablet */
@media (min-width: 768px) {
    .products-title {
        font-size: 76px;
    }
}
